
* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
    padding-left: 0;
    list-style: none;
	margin: auto;
}

.navigation__link, .button {
    transition: all, 0.3s, ease-out;
}

html {
	font-size: 10px;
}

.button, body {
	font-family: 'Georgia Regular', Times, serif;
    font-style: normal;
    font-weight: normal;
}

.navigation__link, p {
    font-family: 'Arial Regular', Verdana, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

h2 {
    font-weight: normal;
    font-size: 4.4rem;
    line-height: 5.7rem;
    color: #FFFFFF;
}

h3 {
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    color: #545454;
}

h4  {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #545454;
}

h5  {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: #545454;
}

h6  {
    font-family: 'Arial Regular', Verdana, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: #B2B2B2;
}

p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4C4C4C;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
	margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:50%;
    top: 30px;
    transform:translate(-50%, -50%); /* центрует header*/
}

.logo__link {
    text-decoration: none;
}

.logo__text {
    padding-top: 10px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__navigation {
    width: 100%;
    max-width: 443px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__link {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #CDCDCD;
    cursor: pointer;
}

.navigation__link:hover {
    color: #FAFAFA;
}

.navigation__link:first-child {
    color: #FAFAFA;
    border-bottom: 2px solid #F1CDB3;;
}

.header__wrapper {
    padding-top: 30px;
}

.not-only__wrapper {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
}

.not-only__title {
    max-width: 310px;
}

.not-only__text {
    max-width: 460px;
    padding: 42px 0;
    color: #CDCDCD;
}

.button {
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 13px 43px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.button_colored {
    background: #F1CDB3;
}

.button_bordered {
    background: #FAFAFA;
}

.not-only__content {
    padding: 328px 0 258px 40px;
}

.not-only__image {
    padding: 180px 40px 0 0;
}

.about {
    background: #FFFFFF;
}

.about__title {
    max-width: 370px;
}

.about__text {
    max-width: 430px;
}

.about__wrapper {
    display: flex;
}

.about__image {
    padding: 80px 120px 100px 175px;
}

.about__content {
    padding: 94px 175px 114px 0;
}

.our-friends {
    background: #F6F6F6;
}

.our-friends__title {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 72px 0 60px;
}

.slider {
    display: flex;
    justify-content: space-between;
    background: #F6F6F6;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 986px
}

.slider__arrow {
    padding: 21px 17px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    max-height: 52px;
    margin-top: 192px;
    cursor: pointer;
}

.slider__arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.card__name {
    text-align: center;
    padding: 30px 0;
}

.pets__card {
    background: #FAFAFA;
    border-radius: 9px;
    
}

.pets__card > button {
    margin: 0 41.5px 30px;
}

.our-friends__wrapper > .button_colored {
    margin: 60px 470px 108px 469px;
}

.help {
    background: #FFFFFF;
}

.help__title {
    text-align: center;
    padding: 80px 0 60px;
}

.help__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1026px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.help__tool {
    margin-bottom: 55px;
    width: 20%;
    text-align: center;
    
}

.tool__image {
    padding-bottom: 30px;
}

.in-addition {
    background: #F6F6F6;
}

.in-addition__wrapper {
    display: flex;
    justify-content: center;
}

.in_addition__title {
    max-width: 300px;
}

.In-addition__bank {
    margin: 20px 0;
}

.bank__container {
    display: flex;
    justify-content: space-between;
    max-width: 349px;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
}

.in_addition__text {
    max-width: 380px;
    font-weight: normal;
}

.in_addition__image {
    margin: 91px 30px 110px 0;
}

.in-addition__content {
    margin: 80px 0 100px;
}

.footer {
    width: 100%;
    max-width: 1280px;
    background-image: url('../images/footer-gradient-background.svg');
    background-repeat: no-repeat;
   margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 740px;
    padding-bottom: 60px;
}


.column__title {
    max-width: 279px;
    color: #FFFFFF;
    margin-top: 56px;
}

.column__link {
    margin-top: 40px;
    display: flex;
    text-decoration: none;
}

.link__text {
    color: #F1CDB3;
}

.link__image {
    margin-right: 20px;
}

.footer__image {
    max-height: 310px;
    margin-top: 40px;
}









@font-face {
        font-family: 'Georgia Regular';
        src: url('Georgia.eot');
        src: url('Georgia.eot?#iefix') format('embedded-opentype'),
        url('Georgia.woff') format('woff'),
        url('Georgia.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
    url('ArialMT.woff') format('woff'),
    url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}